

#button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #cf1143;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #fff;
}

#button:hover {background-color: #04cc04}

#button:active {
  background-color: #04cc04;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.c-head{
    margin: 0px;


}



#main{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("images/course_image.jpg");
}
#mm{
    opacity: 1;
}


h1.inactive {
  color: darkorange;;
}

h1.active {
  color: green;
  border-bottom: 2px solid #5fbae9;
}



.c-head h1{

      font-family: "Poppins", sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 150px;
    font-weight: bold;
    font-size: 50px;
    font-family:monospace;
    line-height: 1.2em;
  color: #0000;
  text-shadow: 
    0 0 darkorange;, 
    0 1.2em #30AADD;
  overflow: hidden;
  transition: .3s;
}

.body{
    color: ;
}
.c-head h1:hover {
    text-shadow: 
      0 -1.2em darkorange, 
      0 0 #30AADD;
  }

.container{
   
    display: flex;
   
    margin: 75px;
   
}
.row h2:after{
    content: '';
    background: #f2614e;;
    display: block;
    height: 3px;
    width: 350px;
    margin-top: 10px;
    
}
.col img{
    height:300px ;
     width: 350px;
     margin-left: 250px;
     margin-right: 60px;
}
.col h2{
    font-size: 33px;
    color: #f2614e;;
}
.col h6{
    color: #614559;
}
.row ul{
    position: relative;
    width: 450px;
    margin: 30px auto 0;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 400px;
}
.row ul li{
    display: flex;
    background: rgba(86,111,123,1);
    padding: 10px 20px;
    color: #614559;
    margin: 5px 0;
    transition: .5s;
}
.row ul li{
    width: 700px;
    height: 70px;
}



.row ul li span:nth-child(1){
    margin-right: 15px;
    margin-top: 10px;
   
}
.row ul li span:nth-child(2){
    margin-right: 100px;
    margin-top: 10px;
    
}
.row ul li span:nth-child(3){
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 5px;
    
    
}
.row ul li span:nth-child(4){
    text-align: right;
    margin-top: 10px;
    
}
.row ul li span i{
    align-content: right;
}
.row ul li:nth-child(1){
    background: rgba(86,111,123,0.3);
    color: darkred;
    font-weight: 400;
}
.row ul li:nth-child(2){
    background: rgba(86,111,123,0.5);
    color: darkred;
    font-weight: 400;
}
.row ul li:nth-child(3){
    background: rgba(86,111,123,0.7);
    color: darkred;
    font-weight: 400;
}
.row ul li:nth-child(4){
    background: rgba(86,111,123,0.9);
    color: darkred;
    font-weight: 400;
    
}
ul li:hover{
    transform:scale(1.06);
    background: #ff3772;
}

#myspan{
    font-size: 30px;
     margin-left:50px;
     margin-top: 30px;
     color: #614559;
}