
.c-head{
    margin: 0px;
}
.c-head h1{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 150px;
    font-weight: bold;
    font-size: 50px;
    font-family:monospace;
    line-height: 1.2em;
  color: #0000;
  text-shadow: 
    0 0 #000, 
    0 1.2em #30AADD;
  overflow: hidden;
  transition: .3s;
}
.c-head h1:hover {
    text-shadow: 
      0 -1.2em #000, 
      0 0 #30AADD;
  }

.container{
   
    display: flex;
   
    margin: 75px;
   
}
.row h2:after{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 350px;
    margin-top: 10px;
    
}
.col img{
    height:300px ;
     width: 350px;
     margin-left: 250px;
     margin-right: 60px;
}
.col h2{
    font-size: 33px;
    color: #0E3EDA;
}
.col h6{
    color: #42C2FF;
}
.row ul{
    position: relative;
    width: 450px;
    margin: 30px auto 0;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 400px;
}
.row ul li{
    display: flex;
    background: rgba(86,111,123,1);
    padding: 10px 20px;
    color: #000;
    margin: 5px 0;
    transition: .5s;
}
.row ul li{
    width: 700px;
    height: 70px;
}



.row ul li span:nth-child(1){
    margin-right: 15px;
    margin-top: 10px;
   
}
.row ul li span:nth-child(2){
    margin-right: 100px;
    margin-top: 10px;
    
}
.row ul li span:nth-child(3){
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 5px;
    
    
}
.row ul li span:nth-child(4){
    text-align: right;
    margin-top: 10px;
    
}
.row ul li span i{
    align-content: right;
}
.row ul li:nth-child(1){
    background: rgba(86,111,123,0.3);
}
.row ul li:nth-child(2){
    background: rgba(86,111,123,0.5);
}
.row ul li:nth-child(3){
    background: rgba(86,111,123,0.7);
}
.row ul li:nth-child(4){
    background: rgba(86,111,123,0.9);
}
ul li:hover{
    transform:scale(1.06);
    background: #ff3772;
}
#mybutton{
    border-radius: 10px ;
    font-size: 20px;
    padding: 15px 32px;
    text-align: center;
    margin-top: 30px;
    background-color: #3120E0;
}
#myspan{
    font-size: 30px;
     margin-left:300px;
     margin-top: 30px;
     color: #FF0063;
}