.head1{
	padding: 15px 50px;
	margin: 20px 00px 150px 100px;
	box-shadow: 5px 5px 5px darkcyan;
	color: blue;
	font-size: xx-large;
	align-content: center;
	margin-left: 0px;
	text-align: center;
	font-size: 50px;
	text-decoration: overline;
}

*{
	
	background-repeat: no-repeat;

}

.navActive{
	
}

#navActive{



}

.d-inline-block{

}

#contentOfNav{
	
}