.team{
    margin:75px 0;
}
.team h1{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
 
     padding-bottom: 40px;

}
.team h1:after{
    content: '';
    background: #7bb2e3;
    
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.profile{
    margin-top: 25px;
}
.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2F8F9D;
}
.profile h3{
    font-size: 22px;
    font-weight: 20px;
    margin-top: 15px;
    font-family: monospace;
    color: #73777B;
}
.img-box::after{
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.img-box:hover::after{
    opacity: 0.5;
}
.img-box img{
   border-radius: 10px;
   

}
